@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5f5f5;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.3s ease-out;
}